# Parameters given by arguments in command line have higher priority, then parameters from .properties file

# all, first
preprocessType=first
# vals in range: 1-7(1=Monday) or monday-sunday.
dayOfUpdate=4
# format hh:mm:ss - this is hour of update.
hourOfUpdate=09:00:00
# amount of threads to process records during downloading (there is always 2 additional threads - one for download data
# and one for submit work to workers)
workers=2


#Adress of host with PostgreSQL database.
dbHost=localhost
#Port with exposed PostgreSQL database.
dbPort=5432
#User of PostgreSQL database.
dbUser=rnaponyadmin
#Password of user of PostgreSQL database.
dbPassword=rnapony
#Name of database.
dbName=rnaponydb
#Name of databases table.
dbTable=rnapony
